* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

:root {
  --color-1: #202020;
  --color-2: #bfbdc1;
  --color-3: #333533;
  --color-4: #ffee32;
  --color-5: #ffd100;
}

/* HEADER  */

header {
  display: flex;
  justify-content: space-around;
  background-color: var(--color-2);
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 1rem 2rem;
  z-index: 1000;
}

header #header-img {
  width: 86px;
}

header #nav-bar {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

header #nav-bar .nav-link {
  text-decoration: none;
  font-weight: bold;
  color: var(--color-1);
}

header #nav-bar .nav-link:hover {
  color: var(--color-4);
}

/* MAIN SECTION */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
  background-color: var(--color-3);
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

#form h2 {
  color: var(--color-2);
  padding: 1rem;
}

#form button {
  background-color: var(--color-5);
  opacity: 80%;
  color: var(--color-3);
  font-size: 25px;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
  font-weight: bold;
  border-radius: 8px;
  transition: all 0.3s ease;
}

#form button:hover {
  background-color: var(--color-4);
  opacity: 100%;
}

#email {
  width: max-content;
  border-radius: 4px;
  padding: 4px;
  width: 100%;
}

#features {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

#features i {
  font-size: 50px;
  color: var(--color-5);
}

#features .features-div {
  display: flex;
  width: 600px;
  padding: 1rem;
  gap: 4rem;
}

#features .features-div h3 {
  color: #f9f9f9f9;
  font-size: 24px;
}

#features .features-div p {
  color: var(--color-2);
}

/* MEDIA QUERIES  */

@media (max-width: 768px) {
  header {
    flex-direction: column;
  }

  header #header-img {
    width: 64px;
  }

  header #nav-bar {
    padding: 1rem 0 1rem 0;
  }

  main {
    padding-top: 10rem;
  }

  #features .features-div {
    width: 350px;
  }
}